:root {
  --todo__list__accrodion__background__color: #1d2e42;
  --todo__list__accrodion__header__text__color: #ababab;
  --todo__item__date__color: #1983cf;
}

* {
  margin: 0;
  padding: 0;
}

.todo__list__header {
  text-align: left;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-size: 2em;
  vertical-align: center;
  display: flex;
  /* justify-content:space-around; */
  align-items: center;
  /* justify-content:space-between; */
  /* align-items: center; */
}

.todo__list__header > h1 {
  font-size: 1em;
}

.todo__list__header > span {
  width: 1em;
  height: 1em;
  margin-left: 0.3em;
}

.todo__list__header > span {
  color: rgb(144, 202, 249);
}

.todo__list__header > .todo__list_icon > * {
  width: 1.5em;
}

.todo__list__accordion__parent {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin-top: 1em;
  margin-bottom: 1em;
}

.todo__list__accordion {
  background-color: var(--todo__list__accrodion__background__color) !important;
}

.todo__item__main__title {
  color: var(--todo__list__accrodion__header__text__color);
}

.todo__item {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.todo__item__header > div {
  display: flex;
  justify-content: space-between;
}

.todo__item > div > * {
  margin-left: 1em;
  margin-right: 1em;
}

.todo__item__date {
  color: var(--todo__item__date__color);
}

.todo__item__expand__details {
  width: 50%;
  margin: auto;
  text-align: center;
}

.todo__item__deadline {
  color: rgb(144, 202, 249);
  margin-left: 1em;
}

.todo__item__finished__text {
  color: #1d2e42;
}

.todo__item__render {
  width: 70%;
}
